@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

div {
    border-radius: 10px;
    margin-top: 164px;
    box-shadow: 8px 8px 20px 0px rgba(85, 85, 85, 0.08);
    font-size: 14px;

}

img {
    height: 152px;
    width: 336px;
    padding: 16px 16px 0 16px;
    border-radius: 25px 25px 25px 25px;
}

#botao {
    color: #7C19EE;
    background-color: #F2EAFD;
    border-radius: 20px;
    width: 80px;
    font-weight: bold;
    margin-left: 16px;
    margin-top: 16px;
    text-align: center;
    font-family: "Sora", serif;
    
    font-size: small;
}

#titulo {
    margin-bottom:6px ;
    margin-top: 16px;
    margin-left: 16px;
    font-size: 18px;
    font-family: "Sora", serif;
    font-weight: bold;
}

#texto {
    font-size: 12px;
    margin-left: 16px;
    font-family: "Sora", serif;
    line-height: 1.5;
}

footer {
    margin-left: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 10px;
    font-family: "Sora", serif;
}

